@using Field_Groove.Application.Constants
<head>
    <style>
        .vr{
            color:white;
            opacity:1;
        }
    </style>
</head>
<div>
    <div>
        <ul class="d-flex list-unstyled" style="background-color:#6389FB">
            <li>
                <a class="btn"><span class="fw-bold text-white">FIELD</span> <span class="text-white fw-light opacity-50">GROOVE</span></a>
            </li>
            <li class="vr"></li>
            <li><a class="btn text-white">Leads</a></li>
            <li class="vr"></li>
            <li><a class="btn text-white">Opportunities</a></li>
            <li class="vr"></li>
            <li><a class="btn text-white">Jobs</a></li>
            <li class="vr"></li>
            <li>
                <button class="btn text-white dropdown-toggle text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    Accounting
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">flooring</a></li>
                    <li><a class="dropdown-item" href="#">roofing</a></li>
                    <li><a class="dropdown-item" href="#">drywall</a></li>
                    <li><a class="dropdown-item" href="#">insulation</a></li>
                </ul>
            </li>
            <li class="vr"></li>
            <li>
                <button class="btn text-white dropdown-toggle text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    Customers
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">flooring</a></li>
                    <li><a class="dropdown-item" href="#">roofing</a></li>
                    <li><a class="dropdown-item" href="#">drywall</a></li>
                    <li><a class="dropdown-item" href="#">insulation</a></li>
                </ul>
            </li>
            <li class="vr"></li>
            <li>
                <button class="btn text-white dropdown-toggle text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    Inventory
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">flooring</a></li>
                    <li><a class="dropdown-item" href="#">roofing</a></li>
                    <li><a class="dropdown-item" href="#">drywall</a></li>
                    <li><a class="dropdown-item" href="#">insulation</a></li>
                </ul>
            </li>
            <li class="vr"></li>
            <li>
                <button class="btn text-white dropdown-toggle text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    Dispatcher
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">flooring</a></li>
                    <li><a class="dropdown-item" href="#">roofing</a></li>
                    <li><a class="dropdown-item" href="#">drywall</a></li>
                    <li><a class="dropdown-item" href="#">insulation</a></li>
                </ul>
            </li>
            <li class="vr"></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-1">

        </div>
    </div>
</div>
